body{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.grid{
    display: grid;
    background-color: skyblue;
    color: white;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,100px);
    column-gap: 10px;


}
.grid1{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 20px;
    
}

.alp{
   padding: 10px;
   text-align: center;
    
}
.four{
    margin-top: 30px;
}